<?xml version="1.0" encoding="utf-8" ?> 
<settings>
	<!--   User application and configured property settings go here.-->
	<!--   Example: <add key="settingName" value="settingValue"/> -->
	<add key="userid" value="sa" />
	<add key="password" value="sa" />
	<add key="database" value="zwpttest" />
	<add key="datasource" value="." />
	<add key="useridHibernate" value="NHibernate" />
	<add key="databaseHibernate" value="NHibernate" />
	<!--<add key="driverOdbc" value="{SQL Server}" />-->
	<add key="datasourceMySql" value="localhost" />  
  <add key="directory" value="Maps" />
  <add key="lazyFactoryType" value="Mybatis.DynamicProxy.LazyLoadProxyFactory, Mybatis.DynamicProxy" />
  <add key="MyCategoryName" value="'Film'" />

  <add key="selectKey" value="select @@IDENTITY as value" />
  <add key="MyCategoryName" value="'Film'" />
  <add key="accountName" value="'Joe'" />

</settings>