<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, Mybatis.Test"/> -->
	
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	  <setting lazyFactoryType="${lazyFactoryType}"/>
  </settings>
	
	<!-- ==== MySql configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<provider name="MySql"/>
		<dataSource name="IBatisNet" connectionString="server=${datasourceMySql};user id=${userid}; password=${password}; database=${database}; pooling=false"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="Mybatis.Mapper.Test.Domain.Account, Mybatis.Mapper.Test"/>
		<typeAlias alias="OuiNonBool" type="Mybatis.Mapper.Test.Domain.OuiNonBoolTypeHandlerCallback, Mybatis.Mapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar" callback="OuiNonBool"/>
	</typeHandlers>
	
	<mappers>
		<!-- <mapper url="E:/Projet/IBatisNet/Source/Mybatis.Test/Maps/MySql/ByteFx/Account.xml"/> ok -->
		<mapper resource="../../Maps/MySql/MySql/Account.xml"/>
		<mapper resource="../../Maps/MySql/MySql/DynamicAccount.xml"/>
		<mapper resource="../../Maps/MySql/MySql/Order.xml"/>
		<mapper resource="../../Maps/MySql/MySql/Category.xml"/>
		<mapper resource="../../Maps/MySql/MySql/Complex.xml"/>
		<mapper resource="../../Maps/MySql/MySql/LineItem.xml"/>
		<mapper resource="../../Maps/MySql/MySql/Enumeration.xml"/>
		<mapper resource="../../Maps/MySql/MySql/Other.xml"/>
		<mapper resource="../../Maps/MySql/MySql/ParameterClass.xml"/>
		<mapper resource="../../Maps/MySql/MySql/ResultClass.xml"/>
    <mapper resource="../../Maps/MySql/MySql/NewsPaper.xml"/>
    <mapper resource="../../Maps/MySql/MySql/Document.xml"/>
		<mapper resource="../../Maps/MySql/MySql/Simple.xml"/>
		<!-- Rem : If used as embbeded Resources, use
		<mapper embedded="Account.xml, Mybatis.Mapper.Test"/>
		-->
	</mappers>
</configuration>
