<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	
	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, Mybatis.Test"/> -->

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	  <setting lazyFactoryType="${lazyFactoryType}"/>
	</settings>
	
	<!-- ==== MySql configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<provider name="ByteFx"/>
		<dataSource name="IBatisNet" connectionString="Data Source=${datasourceMySql};Database=${database};User Id=${userid};Password=${password}"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="Mybatis.Mapper.Test.Domain.Account, Mybatis.Mapper.Test"/>
		<typeAlias alias="OuiNonBool" type="Mybatis.Mapper.Test.Domain.OuiNonBoolTypeHandlerCallback, Mybatis.Mapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="varchar" callback="OuiNonBool"/>
	</typeHandlers>
	
	<mappers>
		<!-- <mapper url="E:/Projet/IBatisNet/Source/Mybatis.Test/Maps/MySql/ByteFx/Account.xml"/> ok -->
		<mapper resource="../../Maps/MySql/ByteFx/Account.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/DynamicAccount.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/Order.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/Category.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/Complex.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/LineItem.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/Enumeration.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/Other.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/ParameterClass.xml"/>
		<mapper resource="../../Maps/MySql/ByteFx/ResultClass.xml"/>
    <mapper resource="../../Maps/MySql/ByteFx/NewsPaper.xml"/>
    <mapper resource="../../Maps/MySql/ByteFx/Document.xml"/>
		<!-- Rem : If used as embbeded Resources, use
		<mapper embedded="Account.xml, Mybatis.Mapper.Test"/>
		-->
	</mappers>
</configuration>
