<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<properties>
		<property resource="../../database.config"/>
		<property key="Hello" value="World" />
	</properties>
	
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/>
	  <setting lazyFactoryType="${lazyFactoryType}"/>
	</settings>
	
	<!-- ==== Odbc configuration =========	-->
	<database>	
		<provider name="Odbc1.1"/>
		<!-- You can't use ${propertie} because the string Driver={SQL Server} interfer with the ${propertie} syntax analyser-->
		<dataSource name="iBatisNet" connectionString="${connectionStringOdbc}"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="Mybatis.Mapper.Test.Domain.Account, Mybatis.Mapper.Test" />
		<typeAlias alias="OuiNonBool" type="Mybatis.Mapper.Test.Domain.OuiNonBoolTypeHandlerCallback, Mybatis.Mapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar" callback="OuiNonBool"/>
	</typeHandlers>
		
	<mappers>
		<mapper resource="../../Maps/MSSQL/Odbc/Account.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/DynamicAccount.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/Order.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/Category.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/Complex.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/LineItem.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/Enumeration.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/Other.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/ParameterClass.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/ResultClass.xml"/>
    <mapper resource="../../Maps/MSSQL/Odbc/NewsPaper.xml"/>
    <mapper resource="../../Maps/MSSQL/Odbc/Document.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/Nullable.xml"/>
		<mapper resource="../../Maps/MSSQL/Odbc/Simple.xml"/>
  </mappers>
	
</configuration>
