<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://ibatis.apache.org/dataMapper" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

	<!-- Rem : If used via a DataAccess context, properties tag will be ignored -->
	<properties resource="../../Database.config"/>
	<!-- <properties embedded="database.config, Mybatis.Test"/> -->

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	  <setting lazyFactoryType="${lazyFactoryType}"/>
	</settings>	
	
	<!-- ==== ODP configuration =========	-->
	<!-- Rem : If used via a DataAccess context, database tag will be ignored -->
	<database>
		<!-- Optional ( default ) -->
		<provider name="oracle10.1"/>
		<dataSource name="iBatisNet" connectionString="Data Source=${datasource};User Id=${userid};Password=${password}"/>
	</database>
	
	<alias>
		<typeAlias alias="Account" type="Mybatis.Mapper.Test.Domain.Account, Mybatis.Mapper.Test"/>
		<typeAlias alias="OuiNonBool" type="Mybatis.Mapper.Test.Domain.OuiNonBoolTypeHandlerCallback, Mybatis.Mapper.Test"/>
	</alias>
	
	<typeHandlers>
		<typeHandler type="bool" dbType="Varchar2" callback="OuiNonBool"/>
	</typeHandlers>	
	
	<mappers>
		<!-- <mapper url="E:/Projet/IBatisNet/Source/Mybatis.Test/Maps/Oracle/ODP/Account.xml"/> ok -->
		<mapper resource="../../Maps/Oracle/ODP/Account.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/DynamicAccount.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/Order.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/Category.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/Complex.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/LineItem.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/Enumeration.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/Other.xml"/>
    <mapper resource="../../Maps/Oracle/ODP/NewsPaper.xml"/>
    <mapper resource="../../Maps/Oracle/ODP/Document.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/ParameterClass.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/ResultClass.xml"/>
		<mapper resource="../../Maps/Oracle/ODP/Nullable.xml"/>		
		<mapper resource="../../Maps/Oracle/ODP/Simple.xml"/>		
		<!-- Rem : If used as embbeded Resources, use
		<mapper embedded="Account.xml, Mybatis.Test"/>
		-->
	</mappers>
</configuration>
